Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Migrate==4.0.5
Flask-Mail==0.9.1
WTForms==3.0.1
openpyxl==3.1.2
Pillow==10.0.0
python-barcode==0.15.1
qrcode==7.4.2
reportlab==4.0.4
python-dateutil==2.8.2
email-validator==2.0.0
Werkzeug==2.3.6
python-dotenv
Faker==20.1.0
psycopg2-binary
